{% for vhost in vhosts -%}
<VirtualHost *:{{ vhost.port }}>
  ServerName {{ vhost.servername }}
  DocumentRoot {{ vhost.documentroot }}
{% if vhost.serveradmin %}
  ServerAdmin {{ vhost.serveradmin }}
{% endif %}
  <Directory "{{ vhost.directory }}">
     AllowOverride {{ vhost.allowoverride }}
     Options {{ vhost.options }}
     Order {{ vhost.order }}
     Allow from {{ vhost.allow }}
  </Directory>
</VirtualHost>
{% endfor %}